In [0]:
# importing Dependencies
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [45]:
# from google.colab import files
# uploaded = files.upload()

df1 = pd.read_csv('https://gist.githubusercontent.com/mbejda/7f86ca901fe41bc14a63/raw/38adb475c14a3f44df9999c1541f3a72f472b30d/Indian-Male-Names.csv')
df2 = pd.read_csv('https://gist.githubusercontent.com/mbejda/9b93c7545c9dd93060bd/raw/b582593330765df3ccaae6f641f8cddc16f1e879/Indian-Female-Names.csv')

df1.drop(['race'],axis=1)
df2.drop(['race'],axis=1)

                            name gender
0                        shivani      f
1                           isha      f
2                smt shyani devi      f
3                          divya      f
4                          mansi      f
...                          ...    ...
15377                 saroj devi      f
15378              naina @ geeta      f
15379  manju d/0 baboo lal jatav      f
15380                    shivani      f
15381                      nayna      f

[15382 rows x 2 columns]

In [0]:
df = pd.concat([df1,df2],axis=0)

In [0]:
df = df.drop(['race'],axis=1)

In [54]:
df.head()

              name gender
0          barjraj      m
1     ramdin verma      m
2  sharat chandran      m
3  birender mandal      m
4             amit      m

In [56]:
df[df.gender == 'm'].size

29690

In [58]:
df.shape

(30227, 2)

In [0]:
df.gender.replace({'f':0,'m':1},inplace=True)

In [68]:
df.isnull().isnull().sum()

name      0
gender    0
dtype: int64

In [62]:
df.head()

              name  gender
0          barjraj       1
1     ramdin verma       1
2  sharat chandran       1
3  birender mandal       1
4             amit       1

In [0]:
Xfeatures =df['name']

In [0]:

# Feature Extraction 
cv = CountVectorizer()
x = cv.fit_transform(df['name'].values.astype('U'))

In [0]:
from sklearn.model_selection import train_test_split

In [77]:
y = df.gender

print(x.shape)
print(y.shape)

(30227, 8974)
(30227,)

In [0]:

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [79]:

# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.9095739348370927

In [80]:
print("Accuracy of Model",clf.score(X_test,y_test)*100,"%")

Accuracy of Model 90.95739348370927 %

In [81]:
print("Accuracy of Model",clf.score(X_train,y_train)*100,"%")

Accuracy of Model 97.00770294291921 %

In [0]:
def genderpredictor(a):
    test_name = [a]
    vector = cv.transform(test_name).toarray()
    if clf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [131]:
genderpredictor('')

Female